custom/src/main/resources/com.sungang/my.xsd

<?xml version="1.0"?>
<schema    xmlns="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3school.com.cn/user"
           elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>



</schema>